<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>addLocation</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-row>
        <ion-input [(ngModel)]="search" placeholder="Digite sua busca"></ion-input>
    </ion-row>
    <ion-row>
        <ion-radio-group [(ngModel)]="type">
            <ion-item>
                <ion-label>Cidade</ion-label>
                <ion-radio value="name"></ion-radio>
            </ion-item>
            <ion-item>
                <ion-label>Estado</ion-label>
                <ion-radio value="state"></ion-radio>
            </ion-item>
        </ion-radio-group>
    </ion-row>
    <ion-row>
        <ion-button (click)="searchCity(search, type)">
            Buscar
        </ion-button>
    </ion-row>
    <ion-card *ngFor="let item of list">
        <ion-card-content>
            <ion-row>
                <ion-label>{{item.name}}</ion-label>
            </ion-row>
            <ion-row>
                <ion-label>{{item.state}} - {{item.country}}</ion-label>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="checkbox"></ion-icon>
        </ion-fab-button>
      </ion-fab>
</ion-content>
