<ion-header>
  <ion-toolbar>
    <ion-title>
      Previsão do Tempo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
      <ion-card-header>
          <ion-card-title>
              Canoas
          </ion-card-title>
          <ion-card-subtitle>
              RS - BR
          </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
          <ion-grid>
              <ion-row>
                  <ion-img src='sunny'></ion-img>
              </ion-row>
              <ion-row>
                  <ion-col>
                    <ion-icon name="arrow-round-down"></ion-icon>
                  </ion-col>
                  <ion-col>
                      <ion-label></ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-icon name="arrow-round-up"></ion-icon>
                  </ion-col>
                  <ion-col>
                      <ion-label></ion-label>
                  </ion-col>
                  <ion-col>
                    <ion-icon name="umbrella"></ion-icon>
                  </ion-col>
                  <ion-col>
                      <ion-label></ion-label>
                  </ion-col>
              </ion-row>
          </ion-grid>
      </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="'/add-location/'" routerDirection="forward">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
